.low {
	background-color: green;
}

.moderate {
	background-color: yellow;
}

.high {
	background-color: orange;
}

.very_high {
	background-color: rgb(236, 63, 63);
}

.extreme {
	background-color: violet;
}
